<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Interpreter</string>
	<key>CFBundleIconFile</key>
	<string>Interpreter</string>
	<key>CFBundleIconName</key>
	<string>Interpreter</string>
	<key>CFBundleIdentifier</key>
	<string>com.abracode.Interpreter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Interpreter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Interpreter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>interpreter</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Interpreter sends AppleEvents to other apps to provide functionality unique to this applet.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Translate with Interpreter</string>
			</dict>
			<key>NSMessage</key>
			<string>runOMCService</string>
			<key>NSPortName</key>
			<string>OMCService</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSUserData</key>
			<string>interp.service.text</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Translate with Interpreter</string>
			</dict>
			<key>NSMessage</key>
			<string>runOMCService</string>
			<key>NSPortName</key>
			<string>OMCService</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.text</string>
				<string>com.adobe.pdf</string>
				<string>com.apple.rtfd</string>
				<string>com.microsoft.word.doc</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>com.microsoft.word.wordml</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>com.apple.webarchive</string>
			</array>
			<key>NSUserData</key>
			<string>interp.service.file</string>
		</dict>
	</array>
</dict>
</plist>
